* {
    margin: 0;
    padding: 0;
}

.BlogPageContainer {
    width: 100vw;
    height: 80vh;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

.Button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.PagesSlider {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.PagesSlider::-webkit-scrollbar{
    display: none;
}

.ContentCover {
    width: 400px;
    margin: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
    flex: none;
}

.CoverImage {
    width: 100%;
}

.TextInsideImage {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
}

.TextInsideImage p{
    font-weight: bold;
    color: #fff;
}