* {
    margin: 0;
    padding: 0;
}

.BlogPageContainer {
    width: 100vw;
    height: 80vh;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

.PagesSlider {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.ContentCover {
    width: 25vw;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.CoverImage {
    width: 100%;
}

.TextInsideImage {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
}

.TextInsideImage p{
    font-weight: bold;
    color: #fff;
}