#button{
    width: 141px;
    height: 49px;
    border: none;
    background-color: #2A2B3F;

    display: flex;
    justify-content: center;
    align-items: center;
}

#button-text{
    font-size: 24px;
    color: #FFF;
}