*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ContentPageContainer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.CloseContent{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: large;
    padding: 20px;

    position: fixed;
    right: 0;
    cursor: pointer;
}

.ContentContainer{
    width: 100%;
    min-height: 95%;
    background-color: #fff;
    margin-top: 60px;
    border-radius: 1%;
}