.ButtonHeader{
    width: 141px;
    height: 49px;
    border: none;
    background-color: #2A2B3F;
    margin: 7.5px 0 7.5px 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.ButtonHeaderText{
    font-size: 24px;
    color: #FFF;
}